
.card-wrapper{
    position: relative;
    width:70%;
    padding:0 4px;
    box-sizing: border-box;
    padding-top: 60px;
}

.card{
    border-radius: 16px;
    overflow: hidden;
    position:relative;

}

.corouselpage{
    width:100%;
    background-image: url(./images/blueback.png);
    background-size: cover;
    background-repeat: no-repeat;
   padding-bottom: 50px;
   margin-top: 40px;
}

.corousel-content{
    float:left;
    width:30%;
    text-align: center;
    padding-top:100px;
    color:#fff;
}
.card-image img{
    width:100px;
    height:100px;
}
.corousel-content p{
    line-height: 1.6;
    padding-top: 20px;
}
