@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,@400,@500,@600,@700&display=swap');
.headertop{
    background-color: #0f5298 !important;
    color:#fff !important;
    height:40px;
}
.header-align{
    width:100%;
}
.phone{
    float:left;
    padding:10px 20px;
}
.mail{
    padding:10px;
    float:left;
}

@media only screen and (max-width : 960px){
    .header-top{
           width:100%;
           
    }
    .phone,.mail{
        font-size: 9px;
           
    }
 
}

